{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>قرارداد تسهیلات {{ facility_type }}</title>
    <style>
        body {
            font-family: 'Arial', 'Times New Roman', 'Tahoma';
            line-height: 1.8;
            margin: 40px;
            text-align: right;
        }
        .placeholder {
            display: inline-block;
            border-bottom: 1px dotted black;
            min-width: 150px;
        }
        .signature-section {
            margin-top: 50px;
        }
        .flex-container {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
        }
        .article {
            margin-bottom: 30px;
        }
        ol {
            list-style-type: none;
            padding-right: 0;
        }
        h4 {
            margin-bottom: 5px;
        }
        .guarantor {
            margin-bottom: 20px;
        }
        p, h3, h4 {
            text-align: right;
        }
    </style>
</head>
<body>
    <div style="text-align: center; margin-bottom: 20px;">
        <img src="{% static 'tashilat1.jpg' %}" alt="Contract Image" style="max-width: 100%; height: auto;">
    </div>
    <h1 style="text-align: center;">قرارداد تسهیلات {{ facility_type }}</h1>

    <div class="contract-header">
        <p>با توکل به خدای متعال این قرارداد به شماره {{ contract_number }} در تاریخ {{ contract_date }} و در راستای حمایت از تولید کنندگان بخش کشاورزی شهرستان استهبان بین امضاء کنندگان ذیل :</p>

        <div class="party">
            <h3>شرکت صندوق حمايت از توسعه بخش كشاورزي شهرستان استهبان</h3>
            <p> به شماره ثبت 619 به نمايندگي مهدی اعیان منش رئيس هيأت مديره وآقاي حجت خوشرنگ مديرعامل به عنوان قرض دهنده ازیکطرف كه در اين قرار داد « صندوق » ناميده مي شود</p>
        </div>

        <div class="party">
            <h3>آقای/ خانم {{ borrower_name }} فرزند {{ borrower_father_name }} به شماره شناسنامه {{ borrower_id_number }} کدملی {{ borrower_national_id }}</h3>
            <p>ساکن شهرستان {{ borrower_city }} تلفن {{ borrower_phone }} که در این قرارداد «قرض گیرنده» نامیده می شود از طرف دیگر به شرح ذیل منعقد می گردد.</p>
        </div>
    </div>

    <div class="articles">
        <ol>
            <li class="article">
                <h4>ماده 1:</h4>
                <p>صندوق به موجب این قرارداد مبلغ {{ loan_amount }} ریال ({{ loan_amount_words }} ریال) {{ facility_type }} به قرض گیرنده پرداخت نموده وقرض گیرنده ضمن اقرار به دریافت {{ facility_type }} متعهد گردید قرض دریافتی موضوع قرارداد را درجهت مندرج در گزارش طرح توجیهی قرارداده وبه منظور خرید {{ purchase_item }} برای تأمین بخشی از {{ for_target }} مورد نیاز خود به مقدار وکیفیت مذکور در طرح توجیهی اقدام نماید.</p>
            </li>

            <li class="article">
                <h4>ماده 2:</h4>
                <p>مدت قرارداد: مدت این قرارداد عبارت است از ........... ماه شمسی که از تاریخ {{ start_date }} شروع وتا تاریخ {{ end_date }} خاتمه می یابد.</p>
            </li>

            <li class="article">
                <h4>ماده 3:</h4>
                <p>قرض گیرنده قبول وتعهد نمود بدهی خودبابت قرض دریافتی را بلافاصله در سررسید {{ end_date }} به صندوق پرداخت نماید.</p>
            </li>

            <li class="article">
                <h4>ماده 4:</h4>
                <p>باتوجه به اینکه قرض دهنده وام مذکور را جهت کمک به بهره برداران کشاورزی پرداخت می کند وهدف وی تحصیل سود ازاین ناحیه نمی باشد، لذا بابت تأمین بخشی از هزینه های مربوط به پرداخت تسهیلات و انجام مدیریت اجرای آن قرض گیرنده موظف ومتعهد است علاوه بر استرداد اصل {{ facility_type }} مبلغ ...... ریال (معادل.....درصد اصل قرض درسال به همراه مالیات ارزش افزوده کارمزد تسهیلات) قرض دهنده پرداخت نماید.</p>
            </li>

            <li class="article">
                <h4>ماده 5:</h4>
                <p>تأخیر در پرداخت بدهی، تخلف قرض گیرنده وضامنین از شرایط قرارداد است ودر صورتی که به تشخیص صندوق قرض دهنده، قرض گیرنده بدهی خود را درزمان و سررسید مقرر بازپرداخت نکند ویا از انجام تمام یا قسمتی از تعهدات موضوع قرارداد به شرح موارد مندرج در ماده 1و2و3 این قرارداد، مندرجات طرح پیوست که توسط قرض گیرنده تهیه وتدوین شده است وجزو لاینفک قرارداد می باشد تخلف یا تأخیر نماید، تمامی دیون موجل نیز طبق تشخیص قرض دهنده حال شده وقرض دهنده حق دارد کلیه طلب و خسارت و جرائم مربوطه را رأساً محاسبه نموده و از محل وثیقه واسناد وتضمینات مأخوذه ونیز هرگونه دارایی و مطالبات و اموال قرض گیرنده از جمله سرمایه قرض گیرنده در صندوق برداشت وتملیک نماید وقرض گیرنده حق هرگونه اعتراض نسبت به تشخیص واقدام قرض دهنده را ازخود ساقط نمود.</p>
            </li>

            <li class="article">
                <h4>ماده 6:</h4>
                <p>قرض گیرنده متعهد می شود وام دریافتی را صرفاً جهت خرید {{ purchase_item }} مورد نیاز خود و دیگر بهره برداران کشاورزی به شرح مذکور در طرح توجیهی وموضوع ماده 1 این قرارداد مصرف نماید</p>

            </li>

            <li class="article">
                <h4>ماده 7:</h4>
                <p>درصورتیکه قرض گیرنده تعهدات ماده 6 این قرارداد را در مهلت مقرر در طرح توجیهی انجام ندهد ملزم است ضمن استرداد مبالغی از قرض که به تشخیص قرض دهنده به مصرف عملیات تعهدی نرسیده معادل 18%.......... آنرا نیز مقطوعاً علاوه بر کارمزد وجریمه تأخیر تادیه بعنوان جریمه عدم انجام تعهدات به قرض دهنده پرداخت نماید.</p>
            </li>

            <li class="article">
                <h4>ماده 8:</h4>
                <p>درصورت عدم بازپرداخت به موقع وام {{ facility_type }} ازسوی قرض گیرنده ویا حال شدن دیون موجل وی به شرح مذکور در ماده 5 این قرارداد، علاوه بر اجرای مفاد ماده شماره 5، دیون متعلقه و هرگونه زیان و خسارت وارده بر ذمه قرض گیرنده و ضامنین بوده و از این رو متعهد گردیدند که علاوه بر پرداخت بدهی تأدیه نشده، نرخ تسهیلات بعد از سررسید، بر اساس مصوبه شورای پول و اعتبار محاسبه و از تاریخ سررسید تا واریز کامل با کارمزد {{ penalty_interest_rate }} درصد محاسبه می‌گردد و باید به صندوق پرداخت نمایند. ضمن عقد خارج لازم، قرض گیرنده به قرض دهنده وکالت بلاعزل اعطا نمود تا نسبت به تعیین نوع و میزان خسارات و دیون و دریافت آن‌ها، اجرای مفاد قرارداد رأساً اقدام نماید. ضمناً وکالت‌نامه بلاعزل به شماره {{ power_of_attorney_number }} مورخ {{ power_of_attorney_date }} در خصوص این قرارداد جاری و لازم‌الاجراست.</p>
                <div class="note">
                    <p>تبصره: تشخیص تخلف قرض گیرنده از انجام تعهدات و همچنین تعیین میزان بدهی قابل بازپرداخت و خسارت دیون در هر زمان، براساس مستندات قانونی با صندوق قرض دهنده بوده و این تشخیص قاطع است و قرض گیرنده حق هیچگونه اعتراضی نسبت به آن ندارد.</p>
                </div>
            </li>
                <div style="text-align: center; margin-bottom: 20px;">
                    <img src="{% static 'tashilat1.jpg' %}" alt="Contract Image" style="max-width: 100%; height: auto;">
                </div>

            <li class="article">
                <h4>ماده 9:</h4>
                <p>صندوق حق دارد در صورت مبادرت به اقدامات قانونی برای وصول مطالبات خود کلیه هزینه های مربوطه اعم از ثبت، اجرائی، دادرسی، حق الکاله وسایر هزینه های پرداختی را جزو مطالبات خود منظور وبه استناد این قرارداد از وثیقه یا اسناد مأخوذه همچنین از قرض گیرنده وضامنین از طریق اجرای ثبت یا مرجع ذیربط مطالبه یا وصول نماید.در اقدامات قانونی وپاسخگوئی به دعوای مطروحه ودفاع از آن بر طبق مقررات با صندوق خواهد بود وکارمند یا کارمندان صندوق نمی باید طرف دعوی یا ادعا یا شکایت قرار گیرند.</p>
            </li>

            <li class="article">
            <h4>ماده 10:</h4>

            <div class="clause">
                <p>10-1) قرض گیرنده به منظور انجام تعهد موضوع این قرارداد {{ check_count }} فقره چک به شماره {{ check_number }} عهده حساب جاری شماره {{ account_number }} نزد بانک {{ bank_name }} شعبه {{ branch_name }} کد {{ bank_code }} به مبلغ {{ check_amount }} ریال، نام صاحب چک {{ check_owner }} و سفته: به شماره {{ promissory_note_number }} به مبلغ {{ promissory_note_amount }} ریال، با امضاء صاحب چک و سفته، در اختیار صندوق قرار داد و صندوق حق دارد به محض سررسید یا تخلف قرض گیرنده از انجام تعهدات موضوع این قرارداد رأساً نسبت به وصول مطالبات خود از محل چک‌های مزبور اقدام نماید.</p>

                <p>همچنین قرض‌گیرنده علاوه بر اینکه شخصاً بموجب این قرارداد تعهد در قبال صندوق داشته و مدیون صندوق است برای تضمین و تأمین پرداخت و انجام و ایفای تعهدات خود سند یا اسناد ملکی/ سفته‌هایی به شرح صورت پیوست {{ attachment_details }} که از طرف او به وکالت گذاشته شده یا در وجه صندوق صادر شده به صندوق تسلیم نموده و صندوق حق دارد در صورت عدم پرداخت بدهی و خسارت وجه هر یک از سفته‌ها را وصول نماید و یا اقدامات قانونی در مورد سند ملکی تضمینی برای وصول بدهی و خسارت ناشی از آن انجام داده و اقدام از یک طریق مانع اقدام از طریق دیگر نخواهد بود.</p>
            </div>

            <div class="clause">
                <p>10-2) قرض گیرنده و ضامنین تعهدات موضوع قرارداد را به عهده می گیرند؛ مع‌الوصف این امر به هیچ وجه از تعهدات و مسئولیت شخص قرض گیرنده نمی‌کاهد.</p>
            </div>

            <div class="clause">
                <p>10-3)</p>
                <ol>
                    {% for guarantor in guarantors %}
                        <li>
                            آقای {{ guarantor.name }} فرزند {{ guarantor.father_name|default:"..." }}
                            به شماره شناسنامه {{ guarantor.id_number|default:"..." }}
                            کد ملی {{ guarantor.national_id }}
                            صادره از {{ guarantor.issued_by|default:"..." }}
                            به نشانی: {{ guarantor.address|default:"..." }}
                            و تلفن همراه: {{ guarantor.phone|default:"..." }}
                        </li>
                    {% endfor %}
                </ol>


                <p>کلیه مندرجات این قرارداد را قبول نموده و تعهد می‌نمایند کلیه بدهی اعم از اصل و خسارت و تعهدات مالی و کلیه مطالبات صندوق را منفرداً و متضامناً به صندوق پرداخت نمایند و صندوق حق دارد در هر مرحله از اقدامات اجرایی و قانونی برای وصول تمام یا قسمتی از مطالبات خود به قرض گیرنده و ضامنین و یا افراد مرقوم منفرداً یا تجمعاً (متضامناً) مراجعه نماید.</p>
            </div>
            </li>
            <div style="text-align: center; margin-bottom: 20px;">
                <img src="{% static 'tashilat1.jpg' %}" alt="Contract Image" style="max-width: 100%; height: auto;">
            </div>
            <li class="article">
                <h4>ماده 11:</h4>
                <p>قرض گیرنده موظف است امکان نظارت قرض دهنده و نمایندگان وی را بر عملیات خرید وتوزیع ومصرف نهاده های موضوع این قرارداد را در کلیه مراحل فراهم سازد وحق ندارد تحت هیچ عنوان از این امر ممانعت نماید. بعلاوه ماهیانه رأساً گزارش کاملی از عملیات مالی واجرائی مربوط به این قرارداد را مرتباً به صندوق ارائه نماید وگزارش مزبور به هیچ وجه رافع مسئولیت وتعهدات قرض گیرنده نخواهد بود.</p>
            </li>

            <li class="article">
                <h4>ماده 12:</h4>
                <p>این قرارداد براساس توافق طرفین منعقدگردیده وقرض گیرنده صریحاً اعلام می نماید که به کلیه شرایط وقیود معامله مندرجات قرارداد وهمچنین مقررات وضوابط معامله آگاهی و وقوف کامل داشته ونکته ای مبهم باقی نماند. ضمناً در مورد مندرجات این قرارداد صرف اظهار وتشخیص واعلام صندوق را حسب مورد قبول داشته وصحیح می داند ونسبت به قرارداد ومعامله امور وابسته به آن چه در حال حاضر وچه در آینده محلی وجود ندارد که مايه اختلاف او با صندوق گردد. لذا اقدامات احتمالي واجرائي صندوق باستناد اين قرارداد را درآينده محمول بر صحت منطبق با موازين قانون ميداند ومتعهد وملتزم است چنانچه احياناً در مقابل عمليات اجرائي صندوق به استناد اين قرارداد مبادرت به اقداماتي نمود كه به هر علت عمليات اجرائي متوقف گردد معادل مبلغ دريافتي به عنوان وجه التزام از اموال خود بلاعوض ومجاناً به صندوق تمليك نمايد و درصورت استنكاف مبلغ مذكور نيز به استناد اين قرارداد ازطريق تضمينات وصول خواهد گرديد.</p>
            </li>

            <li class="article">
                <h4>ماده 13:</h4>
                <p>درصورت بروز هرگونه اختلاف درتفسیر یا اجرای این قرارداد؛ صندوق حق دارد ضمن و یا قبل از طرح دعوی در مراجع قضایی و قانونی، موضوع را جهت داوری و حکمیت به کمیسیونی مرکب از نمایندگان طرفین و شرکت مادر تخصصی صندوق حمایت از توسعه سرمایه گذاری در بخش کشاورزی ارجاع نماید. در این صورت مراتب جهت معرفی نماینده تام الاختیار به طرف قرارداد کتبا ابلاغ شده و چنانچه طرف قرارداد حداکثر ظرف یک هفته از معرفی نماینده خود استنکاف ورزد کمیسیون مذکور با حضور نماینده ی صندوق و نماینده ی شرکت مادر تخصصی (داور) رسمیت یافته و نظر آن برای طرفین قرارداد لازم الاجرا می باشد.</p>
            </li>

            <li class="article">
                <h4>ماده 14:</h4>
                <p>اقامتگاه قانونی طرفین قرارداد:</p>
                <p>قرض دهنده: استهبان- بلوارقائم -ساختمان جهادکشاورزی -طبقه هم کف</p>
                <p>قرض گیرنده: {{ shareholder.address }} <span class="placeholder"></span></p>
                <p>طرفین مکلف هستند در صورت تغییر آدرس مراتب را به دیگری کتباً اعلام نمایند در غیر این صورت کلیه ابلاغ ها و اخطارها و مکاتبات به آدرس فوق الذکر معتبر می باشد. این قرارداد در14ماده و1تبصره ودر2 نسخه مبادله وامضاء شده و کلیه نسخ دارای اعتبار واحد بوده وبرای طرفین لازم الاجراء می باشد.</p>
            </li>

        </ol>
    </div>

    <div class="signature-section">
        <div class="flex-container">
            <div class="signature">
                <p>مهروامضاء قرض دهنده</p>
            </div>

            <div class="signature">
                <p>امضاء و اثر انگشت قرض گیرنده</p>
            </div>
        </div>

        <h3>ضامنین:</h3>
            {% for guarantor in guarantors %}
                <div class="guarantor">
                    <p>{{ forloop.counter }}) آقای {{ guarantor.name }} فرزند {{ guarantor.father_name|default:"..." }}</p>
                    <p>شماره شناسنامه: {{ guarantor.id_number|default:"..." }} کدملی: {{ guarantor.national_id }}</p>
                    <p>صادره از: {{ guarantor.issued_by|default:"..." }}</p>
                    <p>امضاء اثرانگشت: _______________</p>
                </div>
            {% endfor %}


        <div class="guarantor">
            <p>2) آقای {{ guarantor2_name }} فرزند {{ guarantor2_father_name }}</p>
            <p>شماره شناسنامه: {{ guarantor2_id_number }} کدملی: {{ guarantor2_national_id }}</p>
            <p>صادره از: {{ guarantor2_issued_place }}</p>
            <p>امضاء اثرانگشت: _______________</p>
        </div>

        <div class="guarantor">
            <p>3) آقای {{ guarantor3_name }} فرزند {{ guarantor3_father_name }}</p>
            <p>شماره شناسنامه: {{ guarantor3_id_number }} کدملی: {{ guarantor3_national_id }}</p>
            <p>صادره از: {{ guarantor3_issued_place }}</p>
            <p>امضاء اثرانگشت: _______________</p>
        </div>

        <div class="guarantor">
            <p>4) آقای {{ guarantor4_name }} فرزند {{ guarantor4_father_name }}</p>
            <p>شماره شناسنامه: {{ guarantor4_id_number }} کدملی: {{ guarantor4_national_id }}</p>
            <p>صادره از: {{ guarantor4_issued_place }}</p>
            <p>امضاء اثرانگشت: _______________</p>
        </div>

        </div>

        <p>وبا اطلاع از مفاد این قرارداد مسئولیت تضامنی موضوع بند 3 از ماده 10 را قبول می نماییم.</p>
    </div>

    <div class="footer">
        <p>این قرارداد در 14 ماده و 1 تبصره و در 2 نسخه مبادله و امضاء شده و کلیه نسخ دارای اعتبار واحد بوده و برای طرفین لازم الاجراء می باشد.</p>
    </div>
</body>
</html>