{% load static %}
{% load persian %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>قرارداد تسهیلات {{ facility_type }}</title>
    <style>
        @font-face {
            font-family: "Nazanin";
            src: url("{% static 'facility/font/nazanin-400.woff2' %}") format("woff2");
            font-weight: 400;
            font-style: normal;
        }
        @font-face {
            font-family: "Nazanin";
            src: url("{% static 'facility/font/nazanin-700.woff2' %}") format("woff2");
            font-weight: 700;
            font-style: normal;
        }
        @page {
            margin-top: 5cm;
            margin-left: 1.5cm;
            margin-right: 1.5cm;
            margin-bottom: 1.5cm;
            size: A4;
            @top-center {       
                content: element(header);
            }
        }
        header {
            position: running(header);
        }
                .header-date {
            position: absolute;
            top: 26px;
            left: 10px;
            font-size: 12px;
            font-weight: bold;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 5px 10px;
            border-radius: 3px;
            z-index: 10;
        }
        .header-number {
            position: absolute;
            top: 58px;
            left: 10px;
            font-size: 12px;
            font-weight: bold;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 5px 10px;
            border-radius: 3px;
            z-index: 10;
        }
        header > img {
            height: 4cm;
        }
        body {
            font-family: Nazanin;
            line-height: 1.8;
        }
        .placeholder {
            display: inline-block;
            border-bottom: 1px dotted black;
            min-width: 150px;
        }
        .signature-section {
            margin-top: 50px;
        }
        .flex-container {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
        }
        .article {
            margin-bottom: 30px;
        }
        ol {
            list-style-type: none;
            padding-right: 0;
        }
        h4 {
            margin-bottom: 5px;
        }
        .guarantor {
            margin-bottom: 20px;
        }
</style>
</head>
<header>
    <img src="{% static 'facility/img/tashilat1.jpg' %}" alt="Contract Image">
    <div class="header-date">
        {{ created_date.date|to_persian_date }}
    </div>
    <div class="header-number">
        {{ contract_number|to_persian_numbers }}
    </div>
</header>
<body>
    <h1 style="text-align: center;">قرارداد تسهیلات {{ facility_type }}</h1>

    <div class="contract-header">
        <p>با توکل به خدای متعال این قرارداد به شماره {{ contract_number|to_persian_numbers }} در تاریخ {{ contract_date|to_persian_date }} و در راستای حمایت از تولید کنندگان بخش کشاورزی شهرستان استهبان بین امضاء کنندگان ذیل :</p>

        <div class="party">
            <h3>شرکت صندوق حمايت از توسعه بخش كشاورزي شهرستان استهبان</h3>
            <p>به شماره ثبت {{ "619"|to_persian_numbers }} به نمايندگي مهدی اعیان منش رئيس هيأت مديره و آقای حجت خوشرنگ مديرعامل به عنوان قرض دهنده از یک طرف كه در اين قرار داد «صندوق» ناميده مي شود</p>
        </div>

        <div class="party">
            <h3>آقای/ خانم {{ borrower_name }} فرزند {{ borrower_father_name }} به شماره شناسنامه {{ borrower_id_number|to_persian_numbers }} کدملی {{ borrower_national_id|to_persian_numbers }}</h3>
            <p>ساکن شهرستان {{ borrower_city }} تلفن {{ borrower_phone|to_persian_numbers }} که در این قرارداد «قرض گیرنده» نامیده می شود از طرف دیگر به شرح ذیل منعقد می گردد.</p>
        </div>
    </div>

    <div class="articles">
        <ol>
            <li class="article">
                <h4>ماده ۱:</h4>
                <p>صندوق به موجب این قرارداد مبلغ {{ loan_amount|to_persian_numbers }} ریال ({{ loan_amount_words }} ریال) {{ facility_type }} به قرض گیرنده پرداخت نموده و قرض گیرنده ضمن اقرار به دریافت {{ facility_type }} متعهد گردید قرض دریافتی موضوع قرارداد را در جهت مندرج در گزارش طرح توجیهی قرار داده و به منظور خرید {{ purchase_item }} برای تأمین بخشی از {{ for_target }} مورد نیاز خود به مقدار و کیفیت مذکور در طرح توجیهی اقدام نماید.</p>
            </li>

            <li class="article">
                <h4>ماده ۲:</h4>
                <p>مدت قرارداد: مدت این قرارداد عبارت است از {{ facility_days|to_persian_numbers }} روز که از تاریخ {{ start_date|to_persian_date }} شروع و تا تاریخ {{ end_date|to_persian_date }} خاتمه می یابد.</p>
            </li>

            <li class="article">
                <h4>ماده ۳:</h4>
                <p>قرض گیرنده قبول و تعهد نمود بدهی خود بابت قرض دریافتی را بلافاصله در سررسید {{ end_date|to_persian_date }} به صندوق پرداخت نماید.</p>
            </li>

            <li class="article">
                <h4>ماده ۴:</h4>
                <p>با توجه به اینکه قرض دهنده وام مذکور را جهت کمک به بهره‌برداران کشاورزی پرداخت می‌کند و هدف وی تحصیل سود از این ناحیه نمی‌باشد، لذا بابت تأمین بخشی از هزینه‌های مربوط به پرداخت تسهیلات و انجام مدیریت اجرای آن، قرض گیرنده موظف و متعهد است علاوه بر استرداد اصل {{ facility_type }} مبلغ {{ loan_amount|to_persian_numbers }} ریال (معادل {{ facility.interest_rate|to_persian_numbers }} درصد اصل قرض در سال به همراه مالیات ارزش افزوده کارمزد تسهیلات) به قرض دهنده پرداخت نماید.</p>
            </li>

            <li class="article">
                <h4>ماده ۵:</h4>
                <p>تأخیر در پرداخت بدهی، تخلف قرض گیرنده و ضامنین از شرایط قرارداد است و در صورتی که به تشخیص صندوق قرض دهنده، قرض گیرنده بدهی خود را در زمان و سررسید مقرر بازپرداخت نکند و یا از انجام تمام یا قسمتی از تعهدات موضوع قرارداد به شرح موارد مندرج در ماده ۱ و ۲ و ۳ این قرارداد، مندرجات طرح پیوست که توسط قرض گیرنده تهیه و تدوین شده است و جزو لاینفک قرارداد می‌باشد تخلف یا تأخیر نماید، تمامی دیون موجل نیز طبق تشخیص قرض دهنده حال شده و قرض دهنده حق دارد کلیه طلب و خسارت و جرائم مربوطه را رأساً محاسبه نموده و از محل وثیقه و اسناد و تضمینات مأخوذه و نیز هرگونه دارایی و مطالبات و اموال قرض گیرنده از جمله سرمایه قرض گیرنده در صندوق برداشت و تملیک نماید و قرض گیرنده حق هرگونه اعتراض نسبت به تشخیص و اقدام قرض دهنده را از خود ساقط نمود.</p>
            </li>

            <li class="article">
                <h4>ماده ۶:</h4>
                <p>قرض گیرنده متعهد می‌شود وام دریافتی را صرفاً جهت خرید {{ purchase_item }} مورد نیاز خود و دیگر بهره‌برداران کشاورزی به شرح مذکور در طرح توجیهی و موضوع ماده ۱ این قرارداد مصرف نماید.</p>
            </li>

            <li class="article">
                <h4>ماده ۷:</h4>
                <p>در صورتی که قرض گیرنده تعهدات ماده ۶ این قرارداد را در مهلت مقرر در طرح توجیهی انجام ندهد، ملزم است ضمن استرداد مبالغی از قرض که به تشخیص قرض دهنده به مصرف عملیات تعهدی نرسیده، معادل {{ facility.delay_penalty_rate|to_persian_numbers }}% آن را نیز مقطوعاً علاوه بر کارمزد و جریمه تأخیر تأدیه به عنوان جریمه عدم انجام تعهدات به قرض دهنده پرداخت نماید.</p>
            </li>


            <li class="article">
                <h4>ماده ۸:</h4>
                <p>در صورت عدم بازپرداخت به موقع وام {{ facility_type }} از سوی قرض گیرنده و یا حال شدن دیون موجل وی به شرح مذکور در ماده ۵ این قرارداد، علاوه بر اجرای مفاد ماده شماره ۵، دیون متعلقه و هرگونه زیان و خسارت وارده بر ذمه قرض گیرنده و ضامنین بوده و از این رو متعهد گردیدند که علاوه بر پرداخت بدهی تأدیه نشده، نرخ تسهیلات بعد از سررسید، بر اساس مصوبه شورای پول و اعتبار محاسبه و از تاریخ سررسید تا واریز کامل با کارمزد {{ penalty_interest_rate|to_persian_numbers }} درصد محاسبه می‌گردد و باید به صندوق پرداخت نمایند. ضمن عقد خارج لازم، قرض گیرنده به قرض دهنده وکالت بلاعزل اعطا نمود تا نسبت به تعیین نوع و میزان خسارات و دیون و دریافت آن‌ها، اجرای مفاد قرارداد رأساً اقدام نماید.
                    ضمناً وکالت‌نامه بلاعزل به شماره {{ power_of_attorney_number|to_persian_numbers }} مورخ {{ power_of_attorney_date|to_persian_date }} در خصوص این قرارداد جاری و لازم‌الاجراست.</p>
                <div class="note">
                    <p>تبصره: تشخیص تخلف قرض گیرنده از انجام تعهدات و همچنین تعیین میزان بدهی قابل بازپرداخت و خسارت دیون در هر زمان، بر اساس مستندات قانونی با صندوق قرض دهنده بوده و این تشخیص قاطع است و قرض گیرنده حق هیچ‌گونه اعتراضی نسبت به آن ندارد.</p>
                </div>
            </li>


            <li class="article">
                <h4>ماده ۹:</h4>
                <p>صندوق حق دارد در صورت مبادرت به اقدامات قانونی برای وصول مطالبات خود، کلیه هزینه‌های مربوطه اعم از ثبت، اجرایی، دادرسی، حق‌الوکاله و سایر هزینه‌های پرداختی را جزو مطالبات خود منظور و به استناد این قرارداد از وثیقه یا اسناد مأخوذه همچنین از قرض گیرنده و ضامنین از طریق اجرای ثبت یا مرجع ذی‌ربط مطالبه یا وصول نماید. در اقدامات قانونی و پاسخگویی به دعوای مطروحه و دفاع از آن بر طبق مقررات با صندوق خواهد بود و کارمند یا کارمندان صندوق نمی‌باید طرف دعوی یا ادعا یا شکایت قرار گیرند.</p>
            </li>

            <li class="article">
                <h4>ماده ۱۰:</h4>
                <div class="clause">
                    <p>۱۰-۱) 
                        قرض گیرنده به منظور انجام تعهد موضوع این قرارداد 
                        {% if check_count %}
                        {{ check_count|to_persian_numbers }} فقره چک 
                        {% for check in checks %}
                        به شماره {{ check.number|to_persian_numbers }} عهده حساب جاری شماره {{ check.account_number|to_persian_numbers }} نزد بانک {{ check.bank_name }} شعبه {{ check.branch_name }} کد {{ check.bank_code|to_persian_numbers }} به مبلغ {{ check.amount|to_persian_numbers }} ریال، نام صاحب چک {{ check.owner_name }} 
                        {% if not forloop.last %}و{% endif %}
                        {% endfor %}
                        {% endif %}
                        {% if promissories_count %}
                        و {{ promissories_count|to_persian_numbers }} فقره سفته
                        {% for promissory in promissories %}
                         به شماره {{ promissory.number|to_persian_numbers }} به مبلغ {{ promissory.amount|to_persian_numbers }} ریال
                        {% endfor %}
                        {% endif %}
                    با امضاء صاحب چک و سفته، در اختیار صندوق قرار داد و صندوق حق دارد به محض سررسید یا تخلف قرض گیرنده از انجام تعهدات موضوع این قرارداد رأساً نسبت به وصول مطالبات خود از محل چک‌های مزبور اقدام نماید.</p>
                    <p>همچنین قرض‌گیرنده علاوه بر اینکه شخصاً به موجب این قرارداد تعهد در قبال صندوق داشته و مدیون صندوق است، برای تضمین و تأمین پرداخت و انجام و ایفای تعهدات خود سند یا اسناد ملکی/سفته‌هایی به شرح صورت پیوست {{ attachment_details }} که از طرف او به وکالت گذاشته شده یا در وجه صندوق صادر شده به صندوق تسلیم نموده و صندوق حق دارد در صورت عدم پرداخت بدهی و خسارت، وجه هر یک از سفته‌ها را وصول نماید و یا اقدامات قانونی در مورد سند ملکی تضمینی برای وصول بدهی و خسارت ناشی از آن انجام داده و اقدام از یک طریق مانع اقدام از طریق دیگر نخواهد بود.</p>
                </div>
                <div class="clause">
                    <p>۱۰-۲) قرض گیرنده و ضامنین تعهدات موضوع قرارداد را به عهده می‌گیرند؛ مع‌الوصف این امر به هیچ وجه از تعهدات و مسئولیت شخص قرض گیرنده نمی‌کاهد.</p>
                </div>
                <div class="clause">
                    <p>۱۰-۳) ضامنین:</p>
                    <ol>
                        {% for guarantor in guarantors %}
                            <li>
                                آقا/خانم {{ guarantor.name }} فرزند {{ guarantor.father_name|default:"..." }}
                                به شماره شناسنامه {{ guarantor.id_number|to_persian_numbers|default:"..." }}
                                کد ملی {{ guarantor.national_id|to_persian_numbers }}
                                صادره از {{ guarantor.issued_by|default:"..." }}
                                به نشانی: {{ guarantor.address|default:"..." }}
                                و تلفن همراه: {{ guarantor.phone|to_persian_numbers|default:"..." }}
                            </li>
                        {% endfor %}
                    </ol>
                    <p>کلیه مندرجات این قرارداد را قبول نموده و تعهد می‌نمایند کلیه بدهی اعم از اصل و خسارت و تعهدات مالی و کلیه مطالبات صندوق را منفرداً و متضامناً به صندوق پرداخت نمایند و صندوق حق دارد در هر مرحله از اقدامات اجرایی و قانونی برای وصول تمام یا قسمتی از مطالبات خود به قرض گیرنده و ضامنین و یا افراد مرقوم منفرداً یا تجمعاً (متضامناً) مراجعه نماید.</p>
                </div>
            </li>

            <li class="article">
                <h4>ماده ۱۱:</h4>
                <p>قرض گیرنده موظف است امکان نظارت قرض دهنده و نمایندگان وی را بر عملیات خرید و توزیع و مصرف نهاده‌های موضوع این قرارداد را در کلیه مراحل فراهم سازد و حق ندارد تحت هیچ عنوان از این امر ممانعت نماید. بعلاوه ماهیانه رأساً گزارش کاملی از عملیات مالی و اجرایی مربوط به این قرارداد را مرتباً به صندوق ارائه نماید و گزارش مزبور به هیچ وجه رافع مسئولیت و تعهدات قرض گیرنده نخواهد بود.</p>
            </li>

            <li class="article">
                <h4>ماده ۱۲:</h4>
                <p>این قرارداد بر اساس توافق طرفین منعقد گردیده و قرض گیرنده صریحاً اعلام می‌نماید که به کلیه شرایط و قیود معامله مندرجات قرارداد و همچنین مقررات و ضوابط معامله آگاهی و وقوف کامل داشته و نکته‌ای مبهم باقی نمانده است. ضمناً در مورد مندرجات این قرارداد صرف اظهار و تشخیص و اعلام صندوق را حسب مورد قبول داشته و صحیح می‌داند و نسبت به قرارداد و معامله امور وابسته به آن چه در حال حاضر و چه در آینده محلی وجود ندارد که مایه اختلاف او با صندوق گردد. لذا اقدامات احتمالی و اجرایی صندوق به استناد این قرارداد را در آینده محمول بر صحت و منطبق با موازین قانون می‌داند و متعهد و ملتزم است چنانچه احیاناً در مقابل عملیات اجرایی صندوق به استناد این قرارداد مبادرت به اقداماتی نمود که به هر علت عملیات اجرایی متوقف گردد، معادل مبلغ دریافتی به عنوان وجه‌التزام از اموال خود بلاعوض و مجاناً به صندوق تملیک نماید و در صورت استنکاف، مبلغ مذکور نیز به استناد این قرارداد از طریق تضمینات وصول خواهد گردید.</p>
            </li>

            <li class="article">
                <h4>ماده ۱۳:</h4>
                <p>در صورت بروز هرگونه اختلاف در تفسیر یا اجرای این قرارداد؛ صندوق حق دارد ضمن و یا قبل از طرح دعوی در مراجع قضایی و قانونی، موضوع را جهت داوری و حکمیت به کمیسیونی مرکب از نمایندگان طرفین و شرکت مادر تخصصی صندوق حمایت از توسعه سرمایه‌گذاری در بخش کشاورزی ارجاع نماید. در این صورت مراتب جهت معرفی نماینده تام‌الاختیار به طرف قرارداد کتباً ابلاغ شده و چنانچه طرف قرارداد حداکثر ظرف یک هفته از معرفی نماینده خود استنکاف ورزد، کمیسیون مذکور با حضور نماینده صندوق و نماینده شرکت مادر تخصصی (داور) رسمیت یافته و نظر آن برای طرفین قرارداد لازم‌الاجرا می‌باشد.</p>
            </li>

            <li class="article">
                <h4>ماده ۱۴:</h4>
                <p>اقامتگاه قانونی طرفین قرارداد:</p>
                <p>قرض دهنده: استهبان- بلوار قائم - ساختمان جهاد کشاورزی - طبقه همکف</p>
                <p>قرض گیرنده: {{ shareholder.address }}</p>
                <p>طرفین مکلف هستند در صورت تغییر آدرس، مراتب را به دیگری کتباً اعلام نمایند، در غیر این صورت کلیه ابلاغ‌ها و اخطارها و مکاتبات به آدرس فوق‌الذکر معتبر می‌باشد. این قرارداد در {{ "14"|to_persian_numbers }} ماده و {{ "1"|to_persian_numbers }} تبصره و در {{ "2"|to_persian_numbers }} نسخه مبادله و امضاء شده و کلیه نسخ دارای اعتبار واحد بوده و برای طرفین لازم‌الاجراء می‌باشد.</p>
            </li>
        </ol>
    </div>

    <div class="signature-section">
        <div class="flex-container">
            <div class="signature">
                <p>مهر و امضاء قرض دهنده</p>
            </div>
            <div class="signature">
                <p>امضاء و اثر انگشت قرض گیرنده</p>
            </div>
        </div>

        <h3>ضامنین:</h3>
        {% for guarantor in guarantors %}
            <div class="guarantor">
                <p>{{ forloop.counter|to_persian_numbers }}) آقای {{ guarantor.name }} فرزند {{ guarantor.father_name|default:"..." }}
                شماره شناسنامه: {{ guarantor.id_number|to_persian_numbers|default:"..." }} کدملی: {{ guarantor.national_id|to_persian_numbers }}
                صادره از: {{ guarantor.issued_by|default:"..." }}</p>
                <p>امضاء و اثر انگشت: _______________</p>
            </div>
        {% endfor %}

    <div class="footer">
        <p>این قرارداد در {{ "14"|to_persian_numbers }} ماده و {{ "1"|to_persian_numbers }} تبصره و در {{ "2"|to_persian_numbers }} نسخه مبادله و امضاء شده و کلیه نسخ دارای اعتبار واحد بوده و برای طرفین لازم‌الاجراء می‌باشد.</p>
    </div>
</body>
</html>